*{
	margin: 0;
	padding: 0;
	font-family: 'Verdana','Arial', sans-serif;
}
a{
	text-decoration: none;
	color: inherit;
}

header {
  height: 100px;
  border-bottom: 4px solid #c7c7c7;
}
.header-inner {
  position: relative;
	height: 100%;
}
.logo {
  position: absolute;
  top:0;
  left: -175px;
  margin-top: 27px;
  background: transparent;
}
.header-inner, main{
	max-width: 1000px;
	margin: 0 auto;
}
nav {
  display: flex;
	flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
	height: 100%;
}
.resource {
	margin-left: 50px;
	margin-bottom: 12px;
	font-size: 24px;
	color: #393939;
}

.resource:hover {
	color: #49c757;
	cursor: pointer;
}

.selected {
	color: #49c757;
	text-decoration: underline;
}

.current-resource {
	margin: 34px 0 0;
	font-weight: normal;
}

@media screen and (max-width: 1349px) and (min-width: 736px) {
	body {
		margin-left: 5px;
		margin-right: 5px;
	}
	header{
		height: 60px;
	}
	.logo {
		margin-top: 5px;
		left: 0;
	}
	.logo img {
		width: 50px;
		height: 50px;
	}
	.current-resource{
		margin: 14px 0 0 0;
	}
}

@media screen and (max-width: 735px) {
	body {
		margin-left: 3px;
		margin-right: 3px;
	}
	header {
		height: 60px;
	}
	.logo {
		margin-top: 6px;
		left: 0;
	}
	.logo img {
		width: 50px;
		height: 50px;
	}
	.resource {
    margin-left: 16px;
    font-size: 16px;
}
	.current-resource {
		margin: 14px 0 0 0;
		font-size: 14px;
	}
}
